# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.10.4
      - image: circleci/postgres:9.6.5-alpine
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test

    # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/zirius/url-shortener
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install postgresql-client-9.6
      - run: go get -v -t -d ./...
      - run:
          name: Waiting for Postgres to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for Postgres && exit 1
      - run:
          name: Populate Postgres
          command: |
            psql -d postgresql://root@localhost/circle_test -f sql/init.sql
            psql -d postgresql://root@localhost/circle_test -f /go/src/github.com/bgentry/que-go/schema.sql

      - run:
          name: Run Tests
          environment:
            DATABASE_URL = "postgresql://root@localhost:5432/circle_test?sslmode=disable"
          command: go test -v ./...

  deploy:
    machine:
      enabled: true

    steps:
      - checkout
      - run: ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts
      - run: git remote add dokku dokku@$SERVER_IP:tinyalias
      - run: git push dokku $CIRCLE_BRANCH

workflows:
  version: 2
  build-deploy:
    jobs:
    - build
    - deploy:
        requires:
        - build
        filters:
          branches:
            only: master