<!doctype html>
<html lang="en">
    {{template "header.tmpl.html"}}
    <body class="jumbotron vertical-center">
        <div class="container">
            <h2>Enter TinyAlias Link to Get Stats</h2>
            <form method="GET">
                <div class="input-group mb-3">
                    <div class="input-group-prepend justify-content-center">
                        <span class="input-group-text" id="longURLHelp">URL</span>
                    </div>
                    <input type="text" class="form-control" name="url" placeholder="Enter your tinyalias url" aria-label="url" aria-describedby="longURLHelp">
                    <div class="input-group-append justify-content-center">
                        <button type="submit" class="btn btn-primary">Get Stats</button>
                    </div>
                </div>
            </form>

        {{ if .url }}
            <h2 class="text-center">Stats for {{ .url }}</h2>
            <h3>Number of clicks: {{ .count }}</h3>
        {{ end }}
        {{ if .analytics }}
            <ul class="list-group">
            {{ range .analytics}}
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                {{ .Country }}, {{ .City }}
                <span class="badge badge-dark badge-pill">{{ .Count }}</span>
            </li>
            {{ end }}
            </ul>
        {{ end }}
        {{ if .error }}
            <h1 style="color:red">  {{.error}} </h1>
        {{ end }}
        <span><a style="color: #e9831a" href="/">Create Another Link Here</a></span>
        </div>
    </body>
</html>