<!doctype html>
<html lang="en">
{{ template "header.tmpl.html" . }}
<body class="bg-dark">
<nav class="navbar navbar-expand-sm navbar-dark py-5">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand mb-0 h1" href="/">TinyAlias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News (Experimental)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-5">
    <h2>Enter TinyAlias Link to Get Stats</h2>
    <form method="GET">
        <div class="input-group mb-3">
            <div class="input-group-prepend justify-content-center">
                <span class="input-group-text" id="longURLHelp">URL</span>
            </div>
            <input type="text" class="form-control" name="url" placeholder="Enter your tinyalias url" aria-label="url"
                   aria-describedby="longURLHelp">
            <div class="input-group-append justify-content-center">
                <button type="submit" class="btn btn-info">Get Stats</button>
            </div>
        </div>
    </form>
    {{ if .url }}
    <h2 class="text-center">Stats for {{ .url }}</h2>
    <h3>Number of clicks: {{ .clicks }}</h3>
    {{ end }}
    {{ if .analytics }}
    <h3>Visits by Countries</h3>
    <ul class="list-group">
        {{ range .analytics }}
        <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
            {{ .Country }}, {{ .State }}
            <span class="badge badge-dark badge-pill">{{ .Count }}</span>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ if .error }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ .error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{ end }}
    <span><a href="/">Create Another Link Here</a></span>

    {{ if .user }}
    <h2 class="pt-5">Links You Created</h2>
    <div class="table-responsive table-hover">
        <table class="table" id="thetable">
            <thead>
            <tr>
                <th class="col-auto" scope="col">#</th>
                <th class="col-auto" scope="col">Clicks</th>
                <th class="col-auto" scope="col">TinyAlias</th>
                <th class="col-auto" scope="col">Original</th>
                <th class="col-auto" scope="col">Manage</th>
            </tr>
            </thead>
            <tbody id="thebody">
            </tbody>
        </table>
    </div>
    {{ end }}
</div>
</body>
{{ template "footer.tmpl.html" . }}
<script>

    function del(idx, slug, url) {
        $.ajax({
            type: "post",
            url: "/del",
            data: 'slug=' + encodeURIComponent(slug) + '&url=' + encodeURIComponent(url),
            success: function (data) {
                $('#thetable').DataTable().row('#therow-' + idx).remove().draw();
            }
        })
    };


    $(document).ready(function () {
        var t = $('#thetable').DataTable({
            "processing": true,
            "serverSide": true,
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    'targets': 2,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('style', 'word-wrap: break-word;max-width: 200px; text-overflow: ellipsis; overflow:hidden; white-space: nowrap;');
                    }
                },
                {
                    'targets': 3,
                    'createdCell': function (td, cellData, rowData, row, col) {
                        $(td).attr('style', 'word-wrap: break-word;max-width: 400px; text-overflow: ellipsis; overflow:hidden; white-space: nowrap;');
                    }
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 4
                },
            ],
            "order": [],
            "ajax": {
                type: 'post',
                url: '/get',
                "dataSrc": function (json) {
                    var return_data = [];

                    if (json.data == undefined) {
                        return return_data;
                    }

                    for (var i = 0; i < json.data.length; i++) {
                        var idx = i + 1;
                        return_data.push({
                            "DT_RowId": "therow-" + idx,
                            "idx": "", //will be updated later
                            "counter": json.data[i].counter,
                            "slug": '<a href="' + {{ .baseUrl }} +json.data[i].slug + '">' + {{ .baseUrl }} +json.data[i].slug + '</a>',
                            "url": '<a href="' + json.data[i].url + '">' + json.data[i].url + '</a>',
                            "manage": '<a data-toggle="tooltip" data-placement="right" data-original-title="Delete" href="#/" onClick="del(\'' + idx + '\',\'' + json.data[i].slug + '\',\'' + json.data[i].url + '\');"><i class="fa fa-trash" aria-hidden="true"></i></a>'
                        })
                    }
                    return return_data;
                }
            },
            "columns": [
                {"data": "idx"},
                {"data": "counter"},
                {"data": "slug"},
                {"data": "url"},
                {"data": "manage"}
            ]
        });

        t.on('draw.dt', function () {
            var PageInfo = $('#thetable').DataTable().page.info();
            t.column(0, {page: 'current'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + PageInfo.start;
            });
        });
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</html>