<!doctype html>
<html lang="en">
{{template "header.tmpl.html" . }}
<body class="bg-dark text-center">
<nav class="navbar navbar-expand-sm navbar-dark py-5">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand mb-0 h1" href="/">TinyAlias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News (Experimental)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-5">
    {{ if .message }}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ .message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{ end }}
    {{ if .error }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ .error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{ end }}
    {{ if .user }}
        <div id="updatepasswordbox" class="justify-content-center">
            <form class="form-signin" method="post" action="/update-password">
                <h1 class="h3 mb-3 font-weight-normal">Update Password</h1>
                <label for="inputCurrentPassword" class="sr-only">Current Password</label>
                <input type="password" name="current_password" id="inputCurrentPassword" class="form-control" placeholder="Current Password" required autofocus>
                <label for="inputNewPassword" class="sr-only">New Password</label>
                <input type="password" name="new_password" id="inputNewPassword" class="form-control" placeholder="New Password" required>
                <label for="inputConfirmNewPassword" class="sr-only">Confirm New Password</label>
                <input type="password" name="confirm_new_password" id="inputConfirmNewPassword" class="form-control" placeholder="Confirm New Password" required>
                <button class="btn btn-lg btn-info btn-block" type="submit">Update Password</button>
            </form>
        </div>
    {{ else }}
    <div id="loginbox" class="justify-content-center">
        <form class="form-signin" method="post" action="/login">
            <h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-info btn-block" type="submit">Sign in</button>
            <div class="form-group mt-3">
                <div class="col-md-12 control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        Don't have an account?
                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                            Register Here
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="signupbox" style="display:none;" class="justify-content-center">
        <form class="form-signin" method="post" action="/register">
            <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
            <input type="password" name="confirm_password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
            <button class="btn btn-lg btn-info btn-block" type="submit">Sign up</button>
            <div class="form-group mt-3">
                <div class="col-md-12 control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        Already have an account?
                        <a href="#" onClick="$('#signupbox').hide(); $('#loginbox').show()">
                            Log In Here
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{ end }}
</div>
</body>
{{template "footer.tmpl.html" . }}
</html>