<!doctype html>
<html lang="en">
{{template "header.tmpl.html" . }}
<body class="bg-dark">
<nav class="navbar navbar-expand-sm navbar-dark py-5">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand mb-0 h1" href="/">TinyAlias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News (Experimental)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>This link requires a password</h2>
    <form method="GET">
        <div class="input-group mb-3">
            <div class="input-group-prepend justify-content-center">
                <span class="input-group-text" id="longURLHelp"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Enter your password" aria-label="url" aria-describedby="longURLHelp">
            <div class="input-group-append justify-content-center">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>
{{ if .error }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ .error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{ end }}
    <span><a href="/">Create Another Link Here</a></span>
</div>
</body>
{{template "footer.tmpl.html" . }}
</html>